button {
    background-color: #2c1eeb;
    color: white;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    text-decoration: underline;
}

button:hover {
    background-color: #45a049;
}

form {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    box-sizing: border-box;
    height: 250px;
    margin: 10 auto;
}

label {
  font-weight: bold;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  text-align: center;
}
